1. Write a SELECT statement that returns four columns from the Products table: ProductCode, ProductName, ListPrice, and DiscountPercent. Then, run this statement to make sure it works correctly.

Add an ORDER BY clause to this statement that sorts the result set by list price in descending sequence. Then, run this statement again to make sure it works correctly. This is a good way to build and test a statement, one clause at a time.

In [33]:
SELECT ProductCode
    , ProductName
    , ListPrice
    , DiscountPercent
FROM Products
ORDER BY ListPrice DESC;

ProductCode,ProductName,ListPrice,DiscountPercent
sg,Gibson SG,2517.00,52.00
les_paul,Gibson Les Paul,1199.00,30.00
precision,Fender Precision,799.99,30.00
tama,Tama 5-Piece Drum Set with Cymbals,799.99,15.00
ludwig,Ludwig 5-piece Drum Set with Cymbals,699.99,30.00
strat,Fender Stratocaster,699.00,30.00
hofner,Hofner Icon,499.99,25.00
fg700s,Yamaha FG700S,489.99,38.00
rodriguez,Rodriguez Caballero 11,415.00,39.00
washburn,Washburn D10S,299.00,0.00

2. Write a SELECT statement that returns one column from the Customers table named FullName that joins the LastName and FirstName columns.

Format this column with the last name, a comma, a space, and the first name like this:

Doe, John

Sort the result set by last name in ascending sequence.

Return only the customers whose last name begins with a letter from M to Z.

In [34]:
SELECT LastName + ', ' + FirstName AS FullName
FROM Customers
WHERE LastName LIKE '[M-Z]%'
ORDER BY LastName ASC;

FullName
"Sherwood, Allan"
"Valentino, Erin"
"Wilson, Frank Lee"
"Zimmer, Barry"

3. Write a SELECT statement that returns these column names and data from the Products table:

ProductName               The ProductName column

ListPrice                       The ListPrice column

DateAdded                   The DateAdded column

Return only the rows with a list price that’s greater than 500 and less than 2000.

Sort the result set in descending sequence by the DateAdded column.

In [35]:
SELECT ProductName
    , ListPrice
    , DateAdded
FROM Products
WHERE ListPrice > 500
    AND ListPrice < 2000
ORDER BY DateAdded DESC;

ProductName,ListPrice,DateAdded
Tama 5-Piece Drum Set with Cymbals,799.99,2012-07-30 13:14:15.000
Ludwig 5-piece Drum Set with Cymbals,699.99,2012-07-30 12:46:40.000
Fender Precision,799.99,2012-06-01 11:29:35.000
Gibson Les Paul,1199.00,2011-12-05 16:33:13.000
Fender Stratocaster,699.00,2011-10-30 09:32:40.000

4. Write a SELECT statement that returns these column names and data from the Products table:

ProductName               The ProductName column

ListPrice                       The ListPrice column

DiscountPercent           The DiscountPercent column

DiscountAmount          A column that’s calculated from the previous two columns

DiscountPrice               A column that’s calculated from the previous three columns

Sort the result set by discount price in descending sequence.

In [36]:
SELECT ProductName
    , ListPrice
    , DiscountPercent
    , ListPrice * (DiscountPercent / 100) AS DiscountAmount
    , ListPrice - (ListPrice * (DiscountPercent / 100)) AS DiscountPrice
FROM Products
ORDER BY DiscountPrice DESC;

ProductName,ListPrice,DiscountPercent,DiscountAmount,DiscountPrice
Gibson SG,2517.00,52.00,1308.84,1208.16
Gibson Les Paul,1199.00,30.00,359.70,839.30
Tama 5-Piece Drum Set with Cymbals,799.99,15.00,119.9985,679.9915
Fender Precision,799.99,30.00,239.997,559.993
Ludwig 5-piece Drum Set with Cymbals,699.99,30.00,209.997,489.993
Fender Stratocaster,699.00,30.00,209.70,489.30
Hofner Icon,499.99,25.00,124.9975,374.9925
Yamaha FG700S,489.99,38.00,186.1962,303.7938
Washburn D10S,299.00,0.00,0.00,299.00
Rodriguez Caballero 11,415.00,39.00,161.85,253.15

5. Write a SELECT statement that returns these column names and data from the OrderItems table:

ItemID                         The ItemID column

ItemPrice                     The ItemPrice column

DiscountAmount          The DiscountAmount column

Quantity                       The Quantity column

PriceTotal                    A column that’s calculated by multiplying the item price by the quantity

DiscountTotal              A column that’s calculated by multiplying the discount amount by the quantity

ItemTotal                     A column that’s calculated by subtracting the discount amount from the item price and then multiplying by the quantity

Only return rows where the ItemTotal is greater than 500.

Sort the result set by item total in descending sequence.

In [37]:
SELECT ItemID
    , ItemPrice
    , DiscountAmount
    , Quantity
    , ItemPrice * Quantity AS PriceTotal
    , DiscountAmount * Quantity AS DiscountTotal
    , (ItemPrice - DiscountAmount) * Quantity AS ItemTotal
FROM OrderItems
WHERE (ItemPrice - DiscountAmount) * Quantity > 500
ORDER BY ItemTotal DESC;

ItemID,ItemPrice,DiscountAmount,Quantity,PriceTotal,DiscountTotal,ItemTotal
5,1199.00,359.70,2,2398.00,719.40,1678.60
3,2517.00,1308.84,1,2517.00,1308.84,1208.16
1,1199.00,359.70,1,1199.00,359.70,839.30
11,799.99,120.00,1,799.99,120.00,679.99
9,799.99,240.00,1,799.99,240.00,559.99

6. Write a SELECT statement that returns these columns from the Orders table:

OrderID                       The OrderID column

OrderDate                    The OrderDate column

ShipDate                      The ShipDate column

Return only the rows where the ShipDate column contains a null value.

In [38]:
SELECT OrderID
    , OrderDate
    , ShipDate
FROM Orders
WHERE ShipDate IS NULL;

OrderID,OrderDate,ShipDate
6,2012-03-31 18:37:22.000,NULL
8,2012-04-02 11:26:38.000,NULL
9,2012-04-03 12:22:31.000,NULL

7. Write a SELECT statement without a FROM clause that creates a row with these columns:

Price                            100 (dollars)

TaxRate                       .07 (7 percent)

TaxAmount                  The price multiplied by the tax rate

Total                            The price plus tax

To calculate the fourth column, add the expressions you used for the first and third columns.

In [39]:
SELECT 100 AS Price
    , .07 AS TaxRate
    , 100 * .07 AS TaxAmount
    , 100 + (100 * .07) AS Total;

Price,TaxRate,TaxAmount,Total
100,0.07,7.00,107.00